.container {
  display: flex;
  align-items: center;
  gap: 60px;
  background-color: #fff;
  height: 136px;
}
.search {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 590px) {
  .search {
    input {
      border-radius: 30px;
      height: 32px;
      border: none;
    }
  }
  .container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #009ee4;
    gap: 10px;
    height: 55px;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
    button {
      display: none;
    }
  }
}
